{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
{#    <section id="hero">#}
{#        <img class="hero_image" src="{{ asset('img/hero-image.svg') }}" alt="Wedding Photo" />#}
{#        <div class="content text-center">#}
{#            <div class="container">#}
{#                <h1 class="display-4 fw-normal">Accueil</h1>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
<section id="">
    <div class="content text-center">
        <div class="container">
            <h1 class="display-4 fw-normal">Accueil</h1>
        </div>
    </div>
</section>
{% endblock %}
