{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section id="">
        <div class="content text-center">
            <div class="container">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam odio dui, ultrices nec ultrices
                    faucibus, efficitur at lectus. Aliquam pharetra ipsum a risus vulputate, nec scelerisque dolor
                    cursus. Ut nulla mauris, vestibulum et diam sed, ullamcorper luctus risus. Quisque vulputate
                    lobortis erat, eget congue metus dapibus quis. Etiam tempor ut tortor in dictum. Fusce tristique
                    porttitor tellus. Aenean elementum ultricies turpis, quis finibus libero euismod eu. Etiam sodales
                    ante at erat lobortis, vel scelerisque ligula sagittis. Sed pulvinar interdum neque, non pretium
                    lectus pellentesque et. Nulla quis tempor metus, nec ultrices sapien. Morbi eu nibh ac elit maximus
                    malesuada eu ac ex. Fusce rutrum nunc nisi, id aliquam risus malesuada nec.
                    <br><br>
                    Vivamus vitae libero metus. Fusce tortor nibh, semper nec dolor id, finibus sagittis neque. Fusce
                    hendrerit lacus in urna tempus gravida. Nunc mattis porttitor neque, quis blandit orci dignissim
                    quis. Integer posuere leo gravida sem dictum vehicula. Duis malesuada sollicitudin est nec
                    tristique. Maecenas tincidunt, libero at dapibus posuere, leo lacus dignissim est, finibus
                    condimentum justo elit non massa. Fusce congue libero sem, vitae vulputate orci molestie et.
                    Curabitur mollis nisl in nisi venenatis, at venenatis sapien malesuada. Donec vel nibh at mi
                    pharetra interdum et eget massa.
                </p>
            </div>
        </div>
    </section>
{% endblock %}
