{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section id="">
        <div class="content text-center">
            <div class="">
                <img style="width: 100%; height: auto" src="{{ asset('img/woman-model.png') }}" alt="Modèle catégorie femme">
            </div>
            <div class="">
                <img style="width: 100%; height: auto" src="{{ asset('img/man-model.png') }}" alt="Modèle catégorie homme">
            </div>
        </div>
    </section>
{% endblock %}
