# Dossiers à ignorer
**/vendor/
**/var/
**/node_modules/
**/.idea/
infra-services/data/*
infra-services/docker/shared

# Fichiers temporaires/caches
*.log
*.cache
*.tmp

# Fichiers d'environnement
*.env
