# Dossiers à ignorer
**/vendor/
**/var/
**/node_modules/
**/.idea/
**/public/uploads/
**/public/bundles/
infra-services/data/*
infra-services/docker/shared

# Fichiers temporaires/caches
*.log
*.cache
*.tmp
*.DS_Store

# Fichiers d'environnement
.env.*.local

# Fichiers liés à phpunit
**/phpunit.xml
**/phpunit.xml.dist
*.phpunit.result.cache
