{% extends 'base.html.twig' %}

{% block title %}Ouvrir ma boutique{% endblock %}

{% block body %}
    <section id="">
        <div class="content text-center">
            <h1>Ouvrir boutique</h1>
        </div>
    </section>
{% endblock %}
