{% extends 'expense-base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container">
        <div class="row d-flex justify-content-center div-login">

            <div class="text-center" style="height: 30em;">
                <h1>Bonjour {{ user.firstname }} !</h1>
            </div>
        </div>
    </div>
{% endblock %}
