{% extends 'expense-base.html.twig' %}

{% block title %}Modification note de frais{% endblock %}

{% block body %}
<div class="container">
    <div class="row mt-5">
        <div class="col-12 mt-5 d-flex flex-column align-items-center">
            Modif page ok
        </div>
    </div>
</div>
<div class="div-link-back">
    <a onclick="history.back()" class="text-start">
        <img src="{{ asset('media/back.png') }}" alt="logo retour">
    </a>
</div>
{% endblock %}