{% extends 'base.html.twig' %}

{% block title %}Paiement{% endblock %}

{% block body %}
    <section>
        <div class="container mt-4">
        <h1>Paiement</h1>
        <br>
        <h3>Adresse de livraison</h3>
        <br>
        <div style="display: flex">
            <button type="button" class="span-delivery-office btn btn-secondary">J'ai une adresse de société</button>
            <button type="button" style="margin-left: 5em" class="span-delivery-location btn btn-secondary">Me faire livrer à une position GPS</button>
        </div>
        <br>
        <div class="div-delivery-location" style="display: none">
            <span>
                Afin de vous faire livrer à une position GPS il faudra que vous nous partagiez votre position via Whatsapp.
                <br>
                <br>
                Afin d'y parvenir veuillez suivre ces étapes : <br>
            </span>
            <br>
            <ul>
                <li>Cliquez sur le bouton "M’envoyer un message" afin de recevoir un message de notre part sur Whatsapp</li>
                <li>Répondez à notre message en nous partageant UNIQUEMENT votre position actuelle ou l'endroit où vous souhaiteriez vous faire livrer.</li>
                <li>Cliquez enfin sur le bouton "J’ai envoyé l'adresse"</li>
            </ul>
            <br>
            <div style="">
                <div class="" style="display: flex; justify-content: space-around">
                    <button type="button" class="ask-location btn btn-secondary">M'envoyer un message</button>
                    <button type="button" class="ask-location btn btn-primary">J'ai envoyé l'adresse</button>
                </div>
            </div>
        </div>
        <div class="div-delivery-office" style="display: none">
            <form>
                <div class="form-group">
                    <div class="form-group">
                        <label for="exampleInputDenomination1">Dénomination</label>
                        <input type="text" class="form-control" id="exampleInputDenomination1" placeholder="Dénomination">
                    </div>
                    <label for="exampleInputAddress1">Adresse</label>
                    <input type="text" class="form-control" id="exampleInputAddress1" aria-describedby="addressHelp" placeholder="Entrez l'adresse">
                    <small id="addressHelp" class="form-text text-muted">Nous ne partagerons jamais votre adresse.</small>
                </div>
            </form>
        </div>
    </div>
    </section>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/checkout.js') }}"></script>
{% endblock %}
