{% extends 'base.html.twig' %}

{% block title %}Paiement non validé{% endblock %}

{% block body %}
    <section>
        <div class="container mt-4">
            <p>Il vous manque quelque chose ? Faites un tour et revenez plus tard pour payer !</p>
        </div>
    </section>
{% endblock %}
