{% extends 'expense-base.html.twig' %}

{% block body %}
    <div class="main-sub">
        <div class="d-flex flex-column align-items-center">
            <h1>Page non trouvée</h1>

            <p class="mt-5">
                La page demandée n'a pas été trouvée. <a style="text-decoration: none" href="{{ path('app_home') }}">Retourner à la page d'accueil</a>.
            </p>
        </div>
    </div>
{% endblock %}
